{% extends 'myblog/base.html' %} 

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
    <div class="post-area">
        {% if post.category %}
            <span class="badge bg-secondary float-right">{{post.category}}</span>
        {% else %}
            <span class="badge bg-secondary float-right">미분류</span>
        {% endif %}
        <!-- Title -->
        <h1 class="mt-4">{{post.title}}</h1>
        <h5 class="text-muted">{{ post.hook_text }}</h5>

        <!-- AUTHOR -->
        <p class="lead">by
            <a href="#">{{post.author | upper }}</a>
        </p>
        <hr>

        {% if user.is_authenticated and user == post.author %}
            <a class="btn btn-info btn-sm float-right" href="/myblog/update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"></i> Edit Post</a>
        {% endif %}

        <p>{{post.created_at}}</p>
        {% if post.head_image %}
        <img class="img-fluid rounded" src="{{ post.head_image.url}}" alt="">
        {% else %}
        <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id}}/800/200" alt="random_image" >
        {% endif %}
        <hr>
        <p>{{post.get_content_markdown | safe }}</p> <!--safe도 함께 입력해 html 익스케이핑 방지하는 필터-->

        {% if post.tags.exists %}
            <i class="fas fa-tags"></i>
            {% for tag in post.tags.iterator %}
                <a href="{{ tag.get_absolute_url }}">
                    <span class="badge bg-secondary">{{ tag }}</span>
                </a>
            {% endfor %}
            <br/>
            <br/>
        {% endif %}

        {% if post.file_upload %}
        <a href="{{post.file_upload.url }}" class="btn btn-outline-dark" role="button download">
            첨부파일 다운로드: 
            {% if post.get_file_ext == 'csv' %}
                <i class="fas fa-file-csv"></i> 
            {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                <i class="fas fa-file-excel"></i> 
            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                <i class="fas fa-file-word"></i> 
            {% else %}
                <i class="fas fa-file"></i> 
            {% endif %}
            {{ post.get_file_name }}
        </a>
        {% endif %}
    </div>
    <div class="comment-area">
        <!-- Comments Form -->
        
        <!-- Comment with nested comments -->
        <div class="media mb-4">

        </div>
    </div>
{% endblock %}